<h1> this is home page </h1>

<%# below is ruby, to get it to render '=' is required %>
<%= link_to 'About', welcome_about_path %>

<%# <%= link_to image_tag('profileimage.png'), 'www.mashrurhossain.com' %>



<%#  %>
